{% extends "base.html" %}

{% block title %}
    Блог по программированию на Python/Django
{% endblock %}

{% block content %}
    <h1 class="blog_title">Блог по программированию на Python/Django</h1>
    <div class="blog">
        {% for post in object_list %}
            <div class="post">
                <div class="post_title">
                    {{ post.title }}
                </div>
                <div class="post_date">
                    {{ post.publication_date }}
                </div>
                <div class="post_text">
                    {{ post.text }}
                </div>
            </div>
        {% endfor %}
    </div>
    <form action="{% url 'post_to_blog' %}" method="get">{% csrf_token %}
        <input type="submit" value="Add post">
    </form>
{% endblock %}
